@import '~node_modules/modern-normalize/modern-normalize.css';

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul,
ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}
